.header {
  padding-top: 25px;
  margin-bottom: 30px;
}
.movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--main-text-color);
}
.movie__form {
  position: relative;
}
.movie__input {
  width: 180px;
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 12px;
  padding: 4px 6px;
  background-image: url("/img/search-default.png");
  background-position: right 7px center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  // opacity: 0.6;
  &::placeholder {
    color: var(--secondary-text-color);
    letter-spacing: 0.3px;
  }
}
.movie__container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.movie__favorites {
  width: 25px;
  height: 25px;
  background-image: url("/img/bookmarked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  background-color: transparent;
}
.movie__theme {
  width: 25px;
  height: 25px;
  background-image: url("/img/moon-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  background-color: transparent;
}
.main {
  // padding-bottom: 30px;
}
.main__wrapper {
}
.main__title {
  margin-bottom: 25px;
}
.main__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(5, minmax(195px, 205px));
  gap: 20px;
  justify-content: center;
}
.movie__item {
  position: relative;
  max-width: 305px;
  width: 100%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.95);
}
.movie__img {
  position: relative;
  transition: all 0.5s ease;
  // max-height: 195px;
  // max-width: 305px;
  // height: 100%;
  &:hover {
    // opacity: 0.1;
    filter: blur(5px);
  }
}

.movie__fav {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 70%;
  right: 5%;
  background-image: url("/img/bookmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  background-color: transparent;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.movie__textbox {
  max-width: 305px;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  transition: 0.5 ease;
}

.movie__img:hover + .movie__textbox {
  opacity: 1;
}
.movie__title {
  color: var(--title-light-color);
  font-size: 18px;
  span {
    font-size: 18px;
  }
}
.movie__type {
  color: var(--title-light-color);
  font-size: 12px;
  max-width: 305px;
  width: 100%;
}

.footer {
  padding-bottom: 30px;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  font-size: 10px;
}

// Media Queries

@media only screen and (min-width: 375px) {
  .logo {
    font-size: 18px;
  }
  .movie__input {
    font-size: 14px;
  }
  .movie__favorites {
    width: 28px;
    height: 28px;
  }
  .movie__theme {
    width: 28px;
    height: 28px;
  }
  .footer__copyright {
    font-size: 12px;
  }
  .movie__textbox {
    padding: 15px;
  }
  .movie__title {
    color: var(--title-light-color);
    font-size: 20px;
    span {
      font-size: 20px;
    }
  }
  .movie__type {
    color: var(--title-light-color);
    font-size: 16px;
  }
}
@media only screen and (min-width: 500px) {
  .logo {
    font-size: 20px;
  }
  .movie__input {
    font-size: 15px;
    background-size: 19px 19px;
  }
  .main__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .movie__favorites {
    width: 30px;
    height: 30px;
  }
  .movie__theme {
    width: 30px;
    height: 30px;
  }
  .footer__copyright {
    font-size: 13px;
  }
  .movie__textbox {
  }
  .movie__title {
    color: var(--title-light-color);
    font-size: 20px;
    span {
      font-size: 20px;
    }
  }
  .movie__type {
    color: var(--title-light-color);
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .logo {
    font-size: 24px;
  }
  .movie__input {
    font-size: 16px;
    padding: 6px 10px;
    background-size: 22px 22px;
  }
  .movie__item:nth-child(even) {
    justify-self: flex-end;
  }
  .main {
    padding-bottom: 20px;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .movie__title {
    font-size: 22px;
  }
  .movie__type {
    font-size: 22px;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    font-size: 28px;
  }

  .movie__item:nth-child(even) {
    justify-self: unset;
  }
  .main__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
  .footer__copyright {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1100px) {
  .main__list {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;
  }
  .logo {
    font-weight: bold;
  }
}

.element__item {
  max-width: 1280px;
  width: 100%;
  max-height: 700px;
  height: 100%;
  margin: 0 auto;
  // overflow: auto;
  // border-radius: 25px;
}
.element__img {
  max-width: 150px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.95);
}
.element__bottom {
  margin-top: 10px;
}
.element__container {
  display: flex;
  gap: 20px;
}
.element__close {
  width: 20px;
  height: 20px;
  background-image: url("/img/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.85);
}
.element__writers {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.element__title {
  font-size: 25px;
  margin: 5px 0;
}
.element__genre {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}
.element__type-first {
  font-size: 10px;
  // border: 1px solid var(--border-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--type-background-color);
}
.element__type-second {
  font-size: 10px;
  // border: 1px solid var(--border-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--type-background-color);
}
.element__type-third {
  font-size: 10px;
  // border: 1px solid var(--border-color);
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--type-background-color);
}
.element__stats {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
}
.borders {
  border-radius: 11px;
  // border: 1px solid var(--border-color);
  max-width: 250px;
  width: 100%;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--type-background-color);
}
.borders__rotate {
  font-size: 15px;
}
.rotate {
  text-align: center;
}

.element__play {
  background-image: url("/img/play.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.element__info {
  margin-top: 15px;
  margin-bottom: 15px;
}
.element__desription {
  margin-bottom: 15px;
}
.element__ratings {
  display: flex;
  gap: 10px;
}
.element__imdb {
  max-width: 305px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("/img/imdp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.element__rt {
  max-width: 305px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("/img/rt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.element__metacritic {
  max-width: 305px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("/img/mt.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.no-show {
  display: none;
}

@media only screen and (min-width: 375px) {
  .element__img {
    max-width: 185px;
  }
  .element__bottom {
    margin-top: 12px;
  }
  .element__writers {
    font-size: 17px;
  }
  .element__title {
    font-size: 26px;
    margin: 7px 0;
  }
  .element__genre {
    gap: 12px;
    margin: 7px 0;
  }
  .element__type-first {
    font-size: 12px;
  }
  .element__type-second {
    font-size: 12px;
  }
  .element__type-third {
    font-size: 12px;
  }
  .element__stats {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 15px;
  }

  .borders__rotate {
    font-size: 16px;
  }

  .element__play {
    background-image: url("/img/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .element__info {
    margin-top: 15px;
    margin-bottom: 16px;
    font-weight: bold;
  }
  .element__desription {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 450px) {
  .element__img {
    max-width: 205px;
  }
}

@media only screen and (min-width: 500px) {
  .element__bottom {
    margin-top: 15px;
  }
  .element__writers {
    font-size: 19px;
  }
  .element__title {
    font-size: 30px;
    margin: 7px 0;
  }
  .element__genre {
    gap: 15px;
    margin: 10px 0;
  }
  .element__type-first {
    padding: 9px 12px;
    font-size: 14px;
  }
  .element__type-second {
    padding: 9px 12px;
    font-size: 14px;
  }
  .element__type-third {
    padding: 9px 12px;
    font-size: 14px;
  }
  .element__stats {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 15px;
  }
  .borders {
    padding: 12px;
  }
  .borders__rotate {
    font-size: 18px;
  }

  .element__play {
    background-image: url("/img/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .element__info {
    margin-top: 19px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 18px;
  }
  .element__desription {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .element__ratings {
    display: flex;
    gap: 10px;
  }
  .main {
    // margin-bottom: 20px;
  }
  .element__imdb {
    max-width: 305px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("/img/imdp.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .element__rt {
    max-width: 305px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("/img/rt.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .element__metacritic {
    max-width: 305px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("/img/mt.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .footer__copyright {
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .element__item {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .element__img {
    max-width: 305px;
  }

  .element__ratings {
    max-width: 305px;
  }
}
@media only screen and (min-width: 600px) {
  .element__stats {
    grid-template-columns: repeat(5, 1fr);
  }
  .element__item {
    gap: 50px;
  }
}
@media only screen and (min-width: 800px) {
  .element__item {
    margin-top: 50px;
  }
  .element__img {
    max-width: 405px;
  }
}

.no-show {
  display: none;
}

// --------------------

.search-element h3 {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.search-element .form-control {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  color: var(--light-dark-color);
  width: 350px;
}
.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
}
.search-list .search-list-item {
  background-color: var(--light-dark-color);
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  width: calc(350px - 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}
.search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
}
.search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar {
  width: 8px;
}
.search-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
  outline: none;
  border-radius: 10px;
}
.hide-search-list {
  display: none;
}

@media only screen and (min-width: 320px) {
  .search-item-info h3 {
    font-weight: 400;
    font-size: 0.5rem;
  }
  .search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 170px;
  }
  .search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    max-width: 180px;
    overflow-y: scroll;
    z-index: 10;
  }
  .search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(180px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
}

@media only screen and (min-width: 375px) {
  .search-item-info h3 {
    font-weight: 500;
    font-size: 0.6rem;
  }
  .search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 190px;
  }
  .search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    max-width: 190px;
    overflow-y: scroll;
    z-index: 10;
  }
  .search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(190px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
  .movie__input {
    width: 190px;
  }
}

@media only screen and (min-width: 575px) {
  .search-item-info h3 {
    font-weight: 600;
    font-size: 0.8rem;
  }
  .search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 210px;
  }
  .search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    max-width: 210px;
    overflow-y: scroll;
    z-index: 10;
  }
  .search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(210px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
  .movie__input {
    width: 210px;
  }
}
@media only screen and (min-width: 800px) {
  .search-item-info h3 {
    font-size: 1rem;
  }
  .search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
  }
  .search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    max-width: 342px;
    overflow-y: scroll;
    z-index: 10;
  }
  .search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
  .movie__input {
    width: 342px;
  }
}
