.header {
  padding-top: 25px;
  margin-bottom: 30px;
}
.movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--main-text-color);
}
.movie__form {
}
.movie__input {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 12px;
  padding: 4px 6px;
  background-image: url("/img/search-default.png");
  background-position: right 7px center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  // opacity: 0.6;
  &::placeholder {
    color: var(--secondary-text-color);
    letter-spacing: 0.3px;
  }
}
.movie__container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.movie__favorites {
  width: 25px;
  height: 25px;
  background-image: url("/img/bookmarked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  background-color: transparent;
}
.movie__theme {
  width: 25px;
  height: 25px;
  background-image: url("/img/moon-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  background-color: transparent;
}
.main {
  padding-bottom: 30px;
}
.main__wrapper {
}
.main__title {
  margin-bottom: 25px;
}
.main__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(5, minmax(195px, 205px));
  gap: 20px;
  justify-content: center;
}
.movie__item {
  position: relative;
  max-width: 305px;
  width: 100%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.95);
}
.movie__img {
  position: relative;
  transition: all 0.5s ease;
  // max-height: 195px;
  // max-width: 305px;
  // height: 100%;
  &:hover {
    // opacity: 0.1;
    filter: blur(5px);
  }
}

.movie__fav {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 70%;
  right: 5%;
  background-image: url("/img/bookmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  background-color: transparent;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.movie__textbox {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  transition: 0.5 ease;
}

.movie__img:hover + .movie__textbox {
  opacity: 1;
}
.movie__title {
  color: var(--title-light-color);
}
.movie__type {
  color: var(--title-light-color);
}

.footer {
  padding-bottom: 30px;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  font-size: 10px;
}

// Media Queries

@media only screen and (min-width: 375px) {
  .logo {
    font-size: 18px;
  }
  .movie__input {
    font-size: 14px;
  }
  .movie__favorites {
    width: 28px;
    height: 28px;
  }
  .movie__theme {
    width: 28px;
    height: 28px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}
@media only screen and (min-width: 500px) {
  .logo {
    font-size: 20px;
  }
  .movie__input {
    font-size: 15px;
    background-size: 19px 19px;
  }
  .main__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .movie__favorites {
    width: 30px;
    height: 30px;
  }
  .movie__theme {
    width: 30px;
    height: 30px;
  }
  .footer__copyright {
    font-size: 13;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .logo {
    font-size: 24px;
  }
  .movie__input {
    font-size: 16px;
    padding: 6px 10px;
    background-size: 22px 22px;
  }
  .movie__item:nth-child(even) {
    justify-self: flex-end;
  }
  .main {
    padding-bottom: 20px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    font-size: 28px;
  }

  .movie__item:nth-child(even) {
    justify-self: unset;
  }
  .main__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
  .footer__copyright {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1100px) {
  .main__list {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;
  }
  .logo {
    font-weight: bold;
  }
}
