:root {
  --main-text-color: #000;
  --main-bg-color: #eeeeee;

  --secondary-text-color: #99a99b;

  --title-light-color: #fff;
  --border-color: #000;
  --type-background-color: #33bbc5;
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}

.dark {
  --main-text-color: #fff;
  --main-bg-color: #05151e;

  --secondary-text-color: #99a99b;
  --border-color: #fff;
  --type-background-color: #ff52a2;
}

.dark .movie__favorites {
  background-image: url("/img/bookmark.svg");
}

.dark .movie__theme {
  background-image: url("/img/sun.png");
}

.dark .movie__input {
  background-color: #282326;
  background-image: url("/img/search-dark.png");
}
.dark .element__play {
  background-image: url("/img/play-dark.png");
}
.dark .element__close {
  background-image: url("/img/close-dark.png");
}
